<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form
        class="login100-form validate-form"
        [formGroup]="loginForm"
        (ngSubmit)="login()"
      >
        <span class="login100-form-title p-b-43">Login</span>

        <p
          style="font-size: 1.2rem; margin-bottom: 0.2rem; margin-left: 0.5rem"
        >
          Username:
        </p>
        <div class="wrap-input100 validate-input">
          <input
            class="input100"
            type="text"
            name="username"
            formControlName="username"
          />
          <span class="focus-input100"></span>
          <span *ngIf="!loginForm.value.username" class="label-input100"
            >Username</span
          >
        </div>
        <p *ngIf="errorUser" class="error-message">Username is required</p>

        <p
          style="
            font-size: 1.2rem;
            margin-bottom: 0.2rem;
            margin-left: 0.5rem;
            margin-top: 2rem;
          "
        >
          Password:
        </p>
        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" formControlName="password" />
          <span class="focus-input100"></span>
          <span *ngIf="!loginForm.value.password" class="label-input100"
            >Password</span
          >
        </div>
        <p *ngIf="errorPass" class="error-message">Password is required</p>

        <p *ngIf="credentialsError" class="error-message">
          Invalid Username or Password
        </p>

        <div class="container-login100-form-btn" style="margin-top: 2rem">
          <button type="submit" class="login100-form-btn">Login</button>
        </div>

        <div class="text-center p-t-20 p-b-20">
          <span class="txt2 linktosecond"> or </span>
          <a class="linktosecond" routerLink="/register">register</a>
        </div>
      </form>

      <div
        class="login100-more"
        style="
          background-image: url('../.././../assets/pic.jpg');
          filter: brightness(70%);
        "
      ></div>
    </div>
  </div>
</div>
