<!-- Navigation -->
<div class="logo">
  <i class="fa fa-plane" aria-hidden="true"><span>Landing Page</span></i>
</div>
<a class="menu-toggle rounded" href="#">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="smooth-scroll" href="#Header"></a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#page-top">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#About">About</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Services">Services</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Portfolio">Portfolio</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Testimonials">Team</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Contact">Contact</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white mr-3"
          href="javascript:void(0)"
        >
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white mr-3"
          href="javascript:void(0)"
        >
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white"
          href="javascript:void(0)"
        >
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  
  <!-- Header Starts -->
  <section id="Banner" class="content-section">
    <div class="container content-wrap text-center">
      <h1>Rivezly</h1>
      <h3>
          <em>Your online environment for knowledge sharing.</em>
        </h3>
      <a class="btn btn-primary btn-xl smooth-scroll" href="#About">Find Out More</a>
    </div>
    <div class="overlay"></div>
  </section>
  <!-- Header Ends -->
  <!-- About Us Starts -->
  <section id="About" class="content-section">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12">
          <div class="block-heading">
            <h2>About Us</h2>
          </div>
          <p class="lead">Rivezly is the global online learning platform that offers students, anywhere access to online courses and provides a free exchange space.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Starts -->
  <section id="Services" class="content-section text-center">
    <div class="container">
      <div class="block-heading">
        <h2>What We Offer</h2>
        <p>Learning for Anyone, Anywhere</p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon yellow">
              <div class="front-content">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <h3>Affordable prices</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Affordable prices</h3>
              <p>Explore hundreds of free courses or get started with a free trial.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon orange">
              <div class="front-content">
                <i class="fa fa-suitcase"></i>
                <h3>Flexiblity</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Flexiblity</h3>
              <p>Get on-demand lectures for desktop and mobile—on your schedule.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box ">
            <div class="service-icon red">
              <div class="front-content">
                <i class="fa fa-male" aria-hidden="true"></i>
                <h3>Personalized content</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Personalized content</h3>
              <p>We offer personalized eLearning courses, assessments and content that meets the online learner's individual needs</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon grey">
              <div class="front-content">
                <i class="fa fa-users"></i>
                <h3>Peer to Peer knowledge</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Peer to Peer knowledge</h3>
              <p>Easy and natural information delivery , 
                  up to the minute content, and extreme relevancy to the students engaged with the lesson.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content-section text-center" id="Portfolio">
    <div class="container">
      <div class="block-heading">
        <h2>Popular courses</h2>
        <p>You can find here the most popular courses </p>
      </div>
      <div class="portfolio-wrapper clearfix">
        <a class="each-portfolio" data-fancybox="gallery" href="assets/images/chimieOrganique.jpg">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="assets/images/chimieOrganique.jpg">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">Organic chemistry</h5>
              <p class="p-desc">this course follow the preparatory classes of INSAT</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
        <a class="each-portfolio" data-fancybox="gallery" href="assets/images/c-introduction.jpeg">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="assets/images/c-introduction.jpeg">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">Title</h5>
              <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
        <a class="each-portfolio" data-fancybox="gallery" href="assets/images/analyseComplexe.jpg">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="assets/images/analyseComplexe.jpg">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">complex analysis </h5>
              <p class="p-desc">taught by the student who won last year's math olympiad</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
        <a class="each-portfolio" data-fancybox="gallery" href="assets/images/thermodynamics.jpg">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="assets/images/thermodynamics.jpg">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">Thermodynamics</h5>
              <p class="p-desc">SIMPLIFIED</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
        <a class="each-portfolio" data-fancybox="gallery" href="assets/images/algebre.png">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="assets/images/algebre.png">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">Algebra</h5>
              <p class="p-desc">This course follow the MPI program</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
        <a class="each-portfolio" data-fancybox="gallery" href="assets/images/linux.png">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="assets/images/linux.png">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">Linux</h5>
              <p class="p-desc">All the best poeple in life seem to like linux</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- TESTIMONIALS -->
  <section id="Testimonials" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-heading">
            <h2>Testimonials</h2>
            <p>What are our users have to say about the platform and the experience.</p>
          </div>
          <div id="customers-testimonials" class="owl-carousel">
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/sarah.jpg" alt="">
                <p>It is definetly an enriching experience to be taught by a fellow student. I highly recommend it to everyone who can't deal with private tutors</p>
              </div>
              <div class="testimonial-name">Sarah Jenks</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/tangelia.jpg" alt="">
                <p>Contrary to popular belief, the student/teachers community on this platform is very professional and provide different resources and priceless hack to get that A.</p>
              </div>
              <div class="testimonial-name">Tangelia Ekhoff</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/john-doe.jpg" alt="">
                <p>I specially liked the fact that we could record the session to go back at it whenever we want and the self paced rythm of the session. </p>
              </div>
              <div class="testimonial-name">John Doe</div>
            </div>
            <div class="item">
              <div class="shadow-effect">
                <img class="img-circle" src="assets/images/daniel.jpg" alt="">
                <p>I was never able to undrestand pogramming no matter how many books i have read. It turns out it was fairly easy if i am sho wn the right exaples which was doable thanks to the live coding my teacher provided</p>
              </div>
              <div class="testimonial-name">Daniel Felsted</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF TESTIMONIALS -->
  <section id="Contact" class="content-section">
    <div class="container">
      <div class="block-heading">
        <h2>Contact Us</h2>
        <p>Have questions? The quickest way to get in touch with us is using the contact information below.</p>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="contact-wrapper">
            <div class="address-block border-bottom">
              <h3 class="add-title">Headquaters</h3>
              <div class="c-detail">
                <span class="c-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="c-info"> Street Addess</span>
              </div>
              <div class="c-detail">
                <span class="c-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="c-info">+0000000000</span>
              </div>
              <div class="c-detail">
                <span class="c-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span><span class="c-info">email@yourdomain.com</span>
              </div>
            </div>
            <div class="address-block">
              <h3 class="add-title">Branch</h3>
              <div class="c-detail">
                <span class="c-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="c-info"> 985698 Street</span>
              </div>
              <div class="c-detail">
                <span class="c-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="c-info">+0000000000</span>
              </div>
              <div class="c-detail">
                <span class="c-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span><span class="c-info">email@yourdomain.com</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-wrap">
            <form action="javascript:void(0)" method="post">
              <div class="fname floating-label">
                <input type="text" class="floating-input" name="full name" />
                <label for="title">First Name</label>
              </div>
              <div class="fname floating-label">
                <input type="text" class="floating-input" name="full name" />
                <label for="title">Last Name</label>
              </div>
              <div class="email floating-label">
                <input type="email" class="floating-input" name="email" />
                <label for="email">Email</label>
              </div>
              <div class="contact floating-label">
                <input type="tel" class="floating-input" name="contact" />
                <label for="email">Mobile</label>
              </div>
              <div class="company floating-label">
                <textarea type="text" class="floating-input" name="company"></textarea>
                <label for="email">Message</label>
              </div>
              <div class="submit-btn">
                <button type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="javascript:void(0)">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright © Rivezly 2021</p>
      
    </div>
  </footer>
