<!-- Navigation -->
<div class="logo">
  <i class="fa fa-plane" aria-hidden="true"><span>Landing Page</span></i>
</div>
<a class="menu-toggle rounded" href="#">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="smooth-scroll" href="#Header"></a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#page-top">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#About">About</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Services">Services</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Portfolio">Portfolio</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Testimonials">Team</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Contact">Contact</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white mr-3"
          href="javascript:void(0)"
        >
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white mr-3"
          href="javascript:void(0)"
        >
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white"
          href="javascript:void(0)"
        >
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright © Rivezly 2021</p>
  </div>
</footer>
